.nav-list__item__words__link:hover{
    color: #7B61FF;
    transition: .4s;
}
.header-info__text__item:hover{
    opacity: 0.5;
    transition: .4s;   
}
button:hover{
    opacity: 0.7;
}
.section-name_link:hover{
    opacity: 0.7;
    transition: .4s;
}
.footer-content_link_items:hover{
    color: #7B61FF;
    transition: .4s;
}